body {
    font-family: Arial, Helvetica, sans-serif;
}

.grid{
    display: grid;
    gap: 10px;
    
    

}
.img-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.img-grid .grid-item{
    width: 50%;
    border: 1px solid black;
}
.grid-header{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
ul{
    list-style-type: none;
}
.body{
    grid-template-areas: 
    'header header header header header'
    'hero hero hero hero hero'
    'main main main main main'
    'footer footer footer footer footer'
    ;
}

#header {
    grid-area: header;
}
#hero {
    grid-area: hero;
}
#main{
    grid-area: main;
}
#footer {
    grid-area: footer;
}
#hero video{
    width: 65%;
    border-radius: 5%;
}
h3{
    text-align: center;
}
.logo{
width: 35%;
}