body {
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.body {
    grid-template-areas:
        'header header header header header'
        'hero hero hero hero hero'
        'main main main main main'
        'footer footer footer footer footer'
    ;
}

.grid {
    display: grid;
    gap: 10px;
}

.grid-header {
    display: grid;
    grid-template-columns: 4fr 5fr;
}


.logo {
    width: 10%;
}
.title{
    text-decoration: solid;
    font-size: 130%;
    margin-top: 10px;
}
ul {
    list-style-type: none;
}

.img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.img-grid .grid-item {
    width: 100%;
}
.img-grid .grid-item {
    width: 100%;
}



#header {
    grid-area: header;
}

#hero {
    grid-area: hero;
    text-align: center;
}

#main {
    grid-area: main;
}

#footer {
    grid-area: footer;
}

#hero video {
    width: 65%;
    border-radius: 5%;
    margin-inline: auto;

}

h3 {
    text-align: center;
}