body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    background-color: bisque;
}

p {
    text-align: center;
    font-size: larger;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    text-decoration: underline;

}

ol {
    text-align: center;
}

li {
    list-style: none;
}
footer{
    text-align: center;
    font-style: italic;
}


#header {
    grid-area: header;
}

.logo, img{
    width: 20%;
}

table.nav,
.nav th {
    /* border: 1px solid black; */
    border-collapse: separate;
    text-align: center;
}

.nav th {
    border-radius: 10px;

}

.nav th a {
    color: rgb(87, 87, 87);
    text-decoration-line: none;

}

.nav th a:hover {
    color: black;
}

table.nav {
    width: 100%;
}