h1{
    text-align: center;
}

p{
    text-align: center;
    font-size: larger;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
    text-decoration: underline;
    
}

ol{
    text-align: center;
}