*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'poppins', Arial, Helvetica, sans-serif;
    }
    
    body {
    display: grid;
    align-items: center;
    justify-content: center; 
    min-height: 100vh; 
    background-image: url(/assets/pexels-jessica-lewis-🦋-thepaintedsquare-593324.jpg); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    }
    
    section, .bigbox{
    position: relative; 
    max-width: 400px;
    background: rgb(212,163,115);
    background: radial-gradient(circle, rgba(212,163,115,1) 0%, rgba(255,222,149,1) 100%);    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur (550px);
    display: grid;
    justify-content: center; 
    align-items: center;
    padding: 2rem 3rem;
    border: thick solid bisque;
    }
    
    h1{
    font-size: 2rem;
    color: black;
    text-align: center;
    }
    
    .inputbox {
    position: relative;
    margin: 30px 0; 
    max-width: 310px;
    border-bottom: 2px solid bisque;
    }

    .textarea{
        width: 10;
        color: #FFF;
        background: transparent;
        border: none;
        outline: none;
    }

    .inputbox label{
    position: absolute;
    top : 50%;
    left : 5px;
    transform: translateY(-50%);
    color: color #fff;
    font-size: 1rem; 
    pointer-events: none;
    transition: all 0.8s ease-out;
    }
    
    Input:focus label, input:valid label{
    Top : -5px
    }
    
    .inputbox input { 
    width: 100%; 
    height: 60px;
    background: transparent;
    border: black 1px; 
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px; 
    color: black;
    }
    
    .inputbox ion-icon { 
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2rem; 
    top: 20px;
    }
    
    .forget {margin: 35px 0; 
    font-size: 0.85rem;
    color: #fff;
    display : grid;
    justify-content: space-between;
    }
    
    .forget label { 
    display: grid;
    align-items: center;
    }
    
    .forget label input {
    margin-right: 3px;
    }
    
    .forget a {
    color: black;
    text-decoration: none; 
    font-weight: 600;
    }
    
    .forget a:hover {
        text-decoration: underline;
    }
    
    Button{
    width: 100%; 
    height: 40px; 
    border-radius: 40px; 
    background-color: bisque;
    border: none; 
    outline: none;
    cursor: pointer; 
    font-size: 1rem; 
    font-weight: 600;
    transition: all 0.4s ease;

    }
    
    button:hover {
    background-color: bisque;
    box-shadow: 0 3px 3px 3px grey;
    }
    
    .register {
    font-size: 0.9rem;
    color: color #fff;
    text-align: center;
    margin : 25px 0 10px;
    }
    
    .register p a {
    text-decoration: underline;
    color: black;
    font-weight: 600;
    }
    
    .register p a:hover {
    Text-decoration: underline;
    }

    ::selection{
        color: bisque;
        background-color: grey;
    }
    .register img {
        width: 15%;
        border-radius: 10%;
        border: 1px solid black;
        margin-bottom: 6px;
        margin-right: 6px;
        padding: 4px;
    }
    
    .register img:hover {
        box-shadow: 0 0 0 0 black;
        box-shadow: 0 6px 6px  black;
        border-radius: 10%;
    }
    
    footer {
        text-align: center;
        font-style: bold;
    }
    