body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    background-color: bisque;
}

p {
    text-align: center;
    font-size: larger;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    text-decoration: underline;

}

ol {
    text-align: center;
}

li {
    list-style: none;
    text-align: center;    
}

.list {
    text-decoration: underline;
    font-weight: bold;
}