* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: bisque;

}

.logo img {
    width: 35px;
}

body {
  height: 100vh;
  background-color: bisque;
  display: grid;
  place-items: center;
  font-family: "Poppins", sans-serif;
  color: bisque;
}

.box {
  width: 400px;
  border-radius: 20px;
  position: relative;
}
.box .image {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 90%;
  border-radius: inherit;
  transition: 0.5s ease-in-out;
}

.box::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 3px solid white;
  border-radius: inherit;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.box:hover img {
  filter: grayscale(1) brightness(0.4);
}

.box:hover::after {
  opacity: 1;
  inset: 20px;
}

.text {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text h2, .text p {
  opacity: 0;
  transition: 0.4s 0.2s ease;
}
.text h2 {
  margin-bottom: 12px;
  scale: 0.7;
}
.text p {
  font-size: 14px;
  line-height: 1.5;
  color: bisque;
  transform: translateY(50%);
}
.box:hover .text h2 {
  scale: 1;
  opacity: 1;
}
.box:hover .text P {
  opacity: 1;
  transform: translateY(0);
}