body {
    font-family: Arial, Helvetica, sans-serif;
}

/* .grid {
    display: grid;
} */
.body {
    grid-template-areas:
        'header header header header header'
        'hero hero hero hero hero'
        'main main main main main'
        'footer footer footer footer footer'
    ;
}
.logo img {
    width: 30%;
}
#header {
    grid-area: header;
}

#hero {
    grid-area: hero;
    text-align: center;
}

h2 {
    text-align: left;
    text-decoration: underline;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 16px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 7%;
}


.cameras img {
    width: 50%;
}

#more-info img {
    width: 5%;
}


#buy img {
    width: 10%;
}

.logo {
    width: 10%;
}

table.nav,
.nav th {
    /* border: 1px solid black; */
    border-collapse: separate;
    text-align: center;
}

.nav th {
    border-radius: 10px;


}

.nav th a {
    color: rgb(87, 87, 87);
    text-decoration-line: none;

}

.nav th a:hover {
    color: black;
}

table.nav {
    width: 100%;
}



table.cam-types {
    width: 70%;
    margin: auto;
}

.cam-types th,
.cam-types td,
table.cam-types {
    border: 2px solid bisque;
    border-collapse: collapse;
    text-align: center;
}


table.roll-type {
    width: 50%;
    margin: auto;

}

.roll-type th,
.roll-type td,
table.roll-type {
    border: 2px solid blueviolet;
    border-collapse: collapse;
    text-align: center;

}


.roll-type caption {
    border: 1px groove blueviolet;
    background-color: blueviolet;
    color: white;
}

.cam-types tr:nth-child(even) {
    background-color: bisque;
}

.roll-type tr:nth-child(even) {
    background-color: blueviolet;
}

.roll-type th {
    color: bisque;
    color: black;
}

button {
    width: 5%;
}

footer {
    text-align: center;
    font-style: italic;
}