body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: bisque;
    text-align: center;
}

h2 {
    text-align: left;
    text-decoration: underline;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 16px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 7%;
}

table {
    width: 100%;
}

td {
    text-align: center;
}

table,
td,
th {
    border: 1px solid rgb(244, 164, 66);
    border-collapse: collapse;
}

table > caption {
    border: 1px groove bisque;
}

tr:nth-child(even) {
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/gettyimages-84947670-1525186388.jpg?crop=1xw:1xh;center,top&resize=980:*);
    background-size: auto;
    background-position: 15% 75%;
}