body{
    margin: 0;
    padding: 0;
}

.grid{
    display: grid;
}

.form-login-grid{
    grid-template-columns: 1fr;
    gap: 10px;
    text-align: center;
}

.form-input label, .form-input input{
    display: block;
}

.favorites-grid{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

form{
    background-color: bisque ;
}
h1{
    text-align: center;
}
input[type="submit"]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 15px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
footer{
    text-align: center;
    font-style: italic;
}