@import './var.css';

h3 {
    text-align: center;
    text-decoration: none;
    font-size: 25px;

}

.intro{
    text-align: center;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: var(--color-primary);
}

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--color-primary);

}
.logo img {
    width: 35px;
}
table.nav,
.nav th {
    border-collapse: separate;
    text-align: center;
}



.nav th a {
    color: rgb(87, 87, 87);
    text-decoration-line: none;

}

.nav th a:hover {
    color: var(--black)
}

table.nav {
    width: 100%;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 7%;
}

.grid .more_info {
    display: grid;
    gap: 10px;
    width: 100%;
    width: 5%;
}

.gridM {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.wiki {
    width: 60%;
    margin-top: auto;
    margin-bottom: auto;
}

.amazon {
    width: 50%;
    margin-top: 4vh;
    margin-bottom: auto;
}

.wikiT,
.amazonT {
    margin-top: auto;
    margin-bottom: auto;
}

#header {
    grid-area: header;
}


footer {
    text-align: center;
    font-style: bold;
}