h3 {
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: bisque;

}

.nav th a {
    color: rgb(87, 87, 87);
    text-decoration-line: none;

}

.nav th a:hover {
    color: black;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 7%;
}

.grid .more_info{
    display: grid;
    /*row-gap: 10px*/
    gap: 10px;
    width: 100%;
    width: 5%;
}

.buy {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#header {
    grid-area: header;
}

.logo {
    width: 10%;
}

table.nav,
.nav th {
    /* border: 1px solid black; */
    border-collapse: separate;
    text-align: center;
}

.nav th {
    border-radius: 10px;

}

.nav th a {
    color: rgb(87, 87, 87);
    text-decoration-line: none;

}

.nav th a:hover {
    color: black;
}

table.nav {
    width: 100%;
}